html {
  height: 50%;
}

body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(93, 107, 233);
  color: white;
  height: 100%;
}

#copyright {
  text-shadow: 2px 2px rgb(49, 49, 49);
}

h1 {
  text-shadow: 2px 2px rgb(49, 49, 49);
}

body > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.scorecardbox {
  border-radius: 5px;
  text-align: center;
  border-style: solid;
  box-shadow: 3px 3px rgb(49, 49, 49);
}

button {
  border-radius: 5px;
  border-color: white;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 3px 3px rgb(49, 49, 49);
}

button:focus {outline:0;}

table, th, td {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: center;
  width: 60px
}

td {
  height: 30px;
  width: 30px;
}
