body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
  color: white;
}

.scorecardbox {
  text-align: center;
  border-style: solid;
}

button {
  border-radius: 5px;
  border-color: white;
  margin-bottom: 10px;
  background-color: white;
}

table, th, td {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: center;
  width: 60px
}

td {
  height: 30px;
  width: 30px;
}
